@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.Nav2 {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
}

.navtext {
    display: flex;
    gap: 60px;
    font-size: 18px;
    font-weight: 500;
}

.navbt button {

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6F0054;
    border-radius: 8px;
    font-size: 18px;
    color: aliceblue;
    border: none;
}

/* body */
.body1{    
    padding-left: 80px;
    padding-right: 80px;
}
.body2{    
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    gap: 20px;
}
.body1 h1{    
    color: #6F0054;
    font-size: 42px;
}
.body2 h2{    
    color: #6F0054;
    font-size: 42px;
    margin-top: 0%;
    margin-bottom: 5px;
}
.im{
    margin-top: 15px;
}
.wr p{
    font-size: 16px;
}
.im img{
    width: 600px;
    height: 350px;
}
.body3{
    padding-left: 80px;
    padding-right: 80px;
}
.body3w{
    background-color: #D9D9D9;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 4px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 580px;
    position: absolute;
    left: 8%;
    top: 750px;
    
  }

  /* footer  */
  .fsocial {
    color: #D9D9D9;
    gap: 400px;

}
.foot{
    background-color: #6F0054;
    padding-left: 55px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
}
.foot1 p{
    color: #D9D9D9;
}
.fsocial span{
    font-weight: 500;

}
.foot1 img{
    padding-top: 50px;
}
.foot2 h4{
    color: aliceblue;
   
}
.ph, .lo, .em{
    align-items: center;
    display: flex;
    color: #D9D9D9;
    gap: 10px;
    text-align: left;
}
.foot{
display: flex;
gap: 50px;
justify-content:space-around ;
}
.foot2 ul{
    color: white

}
.foot2{
    padding-top: 50px;
}

.foot2 ul {
    list-style: none;
    padding: 0;
}


.f h2{
    background-color: #ffffff;
    padding-left: 80px;
    font-size: 14px;
    font-weight: 500;
}

* a{
    text-decoration: none;
    color: black;
}