@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.Nav2 {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
}

.navtext {
    display: flex;
    gap: 60px;
    font-size: 18px;
    font-weight: 500;
}

.navbt button {

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6F0054;
    border-radius: 8px;
    font-size: 18px;
    color: aliceblue;
    border: none;
}

/* body */
.top{
    padding-left: 80px;
    padding-right: 80px;
    text-align: left;
}
.top h1{
    color: #6F0054;
    font-size: 42px;
}
.top h2{
    font-weight: 500;
    font-size: 30px;
    margin-top: 0%;
    padding-top: 0%;
}
.top2{
    display: flex;
    gap: 50px;
    padding-left: 80px;
    padding-right: 80px;
}
.top2 h2{
    color: #6F0054;
    font-size: 48px;
    font-weight: bold;
}
.top2 p{
    font-size: 18px;

}
.a{
    width: 90%;
    height: 50px;
}
.b{
    width: 90%;
    height: 50px;
    
}
.main{
    display: flex;
    height: 300px;
    gap: 10px;
}

#c{
    color: #6F0054;
    text-align: center;
}
#o{
  
    text-align: center;
    padding-top: 1px;
}

#q{
    height: 50px;
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
}
#w{
    height: 50px;
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
}
#e{
    height: 50px;
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
}
#m{
    height: 80px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
    width: 95%;
}
#w{
    height: 50px;
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
}
label{
    font-size: 20px;
    display: block;
    
}
button{
    background-color: #6F0054;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    left: 43%;
    border: none;
}
.s{
    color: #ffffff;
    font-size: 20px;
    
}
h2{
    font-size: 30px;
}
.naph{
    display: flex;
    
}
.na{
    display: flex;
}
.mainn{
    padding-left: 5%;
    padding-top: 2%;
    /* margin-top: 2%;
    margin-left: 5%; */
}

/* footer */
.fsocial {
    color: #D9D9D9;
    gap: 400px;

}
.foot{
    background-color: #6F0054;
    padding-left: 55px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
}
.foot1 p{
    color: #D9D9D9;
}
.fsocial span{
    font-weight: 500;

}
.foot1 img{
    padding-top: 50px;
}
.foot2 h4{
    color: aliceblue;
   
}
.ph, .lo, .em{
    align-items: center;
    display: flex;
    color: #D9D9D9;
    gap: 10px;
    text-align: left;
}
.foot{
display: flex;
gap: 50px;
justify-content:space-around ;
}
.foot2 ul{
    color: white

}
.foot2{
    padding-top: 50px;
}

.foot2 ul {
    list-style: none;
    padding: 0;
}


.f h2{
    background-color: #ffffff;
    padding-left: 80px;
    font-size: 14px;
    font-weight: 500;
}
* a{
    text-decoration: none;
    color: black;
}